# The SQLite database lives at data/nexus.db (created by `npx tsx src/db/migrate.ts`).
# There is no DATABASE_URL to configure for local development.

NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"
